button {
    padding: 20px;
    background-color:#7cddcd;
    width: calc(100% - 200px);
    display: flex;
    border-radius: 5px;
    border: 2px solid #4abfab;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}
